aws_region   = "eu-west-3"
environment  = "staging-eks"
project_name = "task-manager"

tfstate_bucket = "REPLACE_WITH_YOUR_BUCKET_NAME"

kubernetes_version = "1.30" # verify AWS EKS standard support window before every apply

image_tag = "REPLACE_WITH_A_REAL_SHA"

grafana_admin_password = "changeme"

git_repo_url = "https://github.com/<your-username>/task-manager-cloud.git"